div#crypto-collection {
    background: white;
    width: 70%;
    margin: 0 auto 5px auto;
    padding: 1em;
    box-shadow: 1px 1px 0 rgb(206, 206, 206);
}

span.left {
    font-weight: bold;
}
span.right {
    float: right;
}